body,
html {
	background: url(jog.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: floralwhite;
}

body{
	padding:25px;
}

h1 {
	text-align: center;
	margin: 150px auto 50px;
    font-size: 4rem;
    color: black;
}

h2 {
	text-align: center;
    margin: 50px auto 50px;
    color: black;
}

footer {
	margin: 50px;
    font-size: 2rem;
    color: black;
}